a {
  color: white;
  outline: none;
}

a.SubTitulosEncabezado::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.5s;
}

a.SubTitulosEncabezado:hover::after {
  width: 100%;
}

a:focus {
  border-bottom: 2px solid rgb(27, 4, 107);
}

body {
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
}
    
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    
.menu {
  list-style: none;
  margin: 4px;
  padding: 0;
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
    
.menu li {
  display: inline-block;
  position: relative;
  margin-left: 30px;
}
    
.menu li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: azure;
  margin-right: -5px;
  margin-left: -2px;
}

.menu li ul {
  display: none;
  position: absolute;
  top: 30px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  margin-top: 2px;
  padding-left: 25px;
}

.menu li a.SubTitulosEncabezado::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.5s;
}

.menu li a.SubTitulosEncabezado:hover::after {
  width: 100%;
}

.menu li a:focus {
  border-bottom: 2px solid rgb(27, 4, 107);
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .title {
    display: inline-block;
    margin-top: 0;
  }
  .Directorio{
    width: 60px;
  }
}    

.Inicio {
  display: block;
  padding: 20px;
  margin: 10px;
}

#Bloque_anuncios {
  border: 0px solid #333;
  padding: 48px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Definimos un efecto de brillo al pasar el cursor */
#Bloque_anuncios:hover {
  box-shadow: 0px 0px 10px 2px rgb(147, 199, 219); /* Agregamos una sombra de color azul alrededor del elemento */
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Entretcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagenRecomendado {
  margin: 18px;
  border-radius: 52px;
  transition: transform 0.2s;
}

.imagenRecomendado:hover {
  box-shadow: 0px 0px 10px 2px rgb(147, 199, 219);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .grid-container {
    /*flex-direction: column;*/
    align-items: center;
  }
  
  .Entretcontainer {
    margin: -107px;
    padding-top: 83px;
    align-items: center;
  }

  .imagenRecomendado {
    /*width: 100%;*/
    max-width: 100px;
    height: 114px;
  }
}    

.Paginas_inicio {
  margin-top: 86px;
}
/*Agregar estilo para ocultar el contenido por defecto*/
.Encabezado {
  display: none;

}

.pagina-web {
  margin-bottom: 20px;
}

.pagina-web a {
  display: block;
  text-decoration: none;
  color: white;
}

.pagina-web img {
  width: 200px;
  height: 200px;
}

.pagina-web h3, .pagina-web p {
  margin: 0;
}

.imagen{
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.image-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  display: none;
  height: 192px;
  width: 201px;
}

.image-info h3 {
  margin-top: 0;
}

.image-info p {
  margin-bottom: 0;
}

#anuncio-izquierda {
  float: left;
  margin-right: 20px; /* Espacio entre el anuncio izquierdo y el contenido */
}

#entretenimiento {
  margin-top: 50px;
  margin-left: 107px;
  margin-right: 96px;
}

#educacion {
  margin-top: 50px;
  margin-left: 107px;
  margin-right: 96px;
}

#deportes {
  margin-top: 50px;
  margin-left: 107px;
  margin-right: 96px;
}

#ai {
  margin-top: 50px;
  margin-left: 150px; 
  margin-right: 165px;
}

#otros {
  margin-top: 50px;
  margin-left: 150px; 
  margin-right: 165px;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.title {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*Animacion de gira de imagenes*/
.imagen {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin-bottom: 20px; /* Añade espacio entre los contenedores */
  margin-right: 38px; /* Añade espacio entre las imágenes */
  float: left; /* Permite que las imágenes se muestren en línea */
}

.imagen:last-child {
  margin-right: 0; /* Quita el margen derecho de la última imagen */
}


.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center center;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #080808;
  color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 52px;
  right: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.imagen.clicked .overlay {
  opacity: 1;
  pointer-events: auto;
}

.flip-card-back h3,
.flip-card-back p {
  margin: 0;
}

.image-info {
  opacity: 0;
  transition: opacity 0.5s;
  color: white;
  font-size: 20px;
}

.imagen.clicked .image-info {
  opacity: 1;
}
